# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE & Editor metadata
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
